body {
  display: flex;
  margin: 0;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;
}

main > div {
  width: 300px;
}

#history {
  overflow: auto;
  max-height: 100px;
}
